# Created by .ignore support plugin (hsz.mobi)
opencv_ceshi/__pycache__/
opencv_ceshi/temp/
phone/tiaoyyitiao/__pycache__/
phone/wechat_qun_lianjie/pic/
phone/xiaoxiaole/__pycache__/
try/pic/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.jpg
*.jpeg
*.png
*.bmp
*.avi
.idea/
id_rsa
id_rsa.pub
venv/Include/
venv/Lib/site-packages/django/conf/app_template/migrations/
venv/Lib/site-packages/django/core/checks/compatibility/
!/.vscode/
/.vscode/
/venv/
!/hangban/旧数据/备份数据/
!/hangban/旧数据/备份数据/2019旧数据.rar
!/tranport_morning/*.xls
!/tranport_morning/*.xlsx
!/transport_afernoon/*.xls
!/transport_afernoon/*.xlsx
!/record_flight_plan/*.doc
!/xukezheng/注销文件/*.*
!/xukezheng/登记文件/*.*
!/record_flight_plan/*.docx
!/record_flight_plan/*.doc
/transport_afernoon/华北地区疫情防控人员物资航空运输统计表.xls
!/crawl_down_pic_1024/pic/
