# Created by .ignore support plugin (hsz.mobi)
opencv_ceshi/__pycache__/
opencv_ceshi/temp/
phone/tiaoyyitiao/__pycache__/
phone/wechat_qun_lianjie/pic/
phone/xiaoxiaole/__pycache__/
try/pic/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.avi
.idea/
id_rsa
id_rsa.pub
venv/Include/
venv/Lib/site-packages/django/conf/app_template/migrations/
venv/Lib/site-packages/django/core/checks/compatibility/
!/.vscode/
/.vscode/
/venv/
!/hangban/旧数据/备份数据/
!/hangban/旧数据/备份数据/2019旧数据.rar
!/tranport_morning/*.xls
!/tranport_morning/*.xlsx
!/transport_afernoon/*.xls
!/transport_afernoon/*.xlsx
!/record_flight_plan/*.doc
!/record_flight_plan/*.docx
/transport_afernoon/*.xls
!/crawl_down_pic_1024/pic/
!/read_phone_project/log/
__pycache__/
computer/copy_files/__pycache__/
crawl_down_pic_1024/pic/
phone/qiangguo_fuzhu/__pycache__/
read_phone_project/__pycache__/
read_phone_project/app_jiao_ben/__pycache__/
read_phone_project/conf/__pycache__/
read_phone_project/log/screenshot/
record_flight_plan/__pycache__/
transport_afernoon/__pycache__/
